html
{
  scroll-behavior: smooth;
}

/* sidebar*/
nav ul {
	list-style-type: none;
	padding: 0;
}

nav ul li {
	font-family: sans-serif;
	background-color: white;
	border: 2px solid black;
	letter-spacing: 0.1em;
	width: 9em;
	height: 2em;
	line-height: 1.5em;
	position: relative;
	overflow: hidden;
	margin: 0.5em;
	cursor: pointer;
}

nav ul li a {
	color: white;
	mix-blend-mode: difference;
}

nav ul li a:hover{
  color:white;
}

nav ul li::before, .active{
	content: '';
	position: absolute;
	width: 2em;
	height: inherit;
	background-color: black;
	border-radius: 50%;
	top: 0;
	left: -0.75em;
	transition: 0.5s ease-out;
}

nav ul li:hover::before{
	transform: scale(9);
}

/* section 1 */
.output {
  text-align:center;
  font-family: 'Source Code Pro', monospace;
  color:black;
  margin-top: 150px;
  h1 {
    font-size:30px;
  }
}

/* Cursor Styling */
.cursor::after {
  content:'';
  display:inline-block;
  margin-left:3px;
  background-color:black;
  animation-name:blink;
  animation-duration:0.5s;
  animation-iteration-count: infinite;
}
h1.cursor::after {
  height:24px;
  width:13px;
}
p.cursor::after {
  height:13px;
  width:6px;
}

@keyframes blink {
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

#myScrollspy {
  /* box-shadow: 0 0.1px 10px 0 rgba(0, 0, 0, 0.050), 0 2px 10px 0 rgba(0, 0, 0, 0.02); */
  position: fixed;
  float:left;
  width: 15%;
  /* border-right:0.5px solid grey; */
  height:100%;
}

#section1 {
  height: 600px;
}

#section2 {
  height: 800px;
}
#section3 {
  height: 800px;
}
#section4 {
  height: 400px;
}
#section41 {
  height: 1150px;
}
#section42 {
  height: 450px;
}
#section5 {
  height: 1400px;
}
#section6 {
  height: 1200px;
}

body {
  overflow-x: hidden;
  font-family: 'Work Sans', sans-serif;
}


.imageaiman{
    width: 350px;
    display: block;
    height: 100%;
    float:left;
}

.aboutme {
  padding-top: 20px;
  font-size: 40px;
  overflow:hidden;
}

table.table-borderless {
  font-size:14px;
  width: 350px;

}

.aboutme input{
  background-color: #1a53ff;
  color: white;
  font-size:15px;
}

/* memories */
.gallery {
-webkit-column-count: 4;
-moz-column-count: 4;
column-count: 4;
-webkit-column-width: 60%;
-moz-column-width: 60%;
column-width: 60%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

@media (max-width: 650px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 500px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}

/* carousel */
.carousel-inner img {
    width: 100%;
    height: 100%;
  }

  .carousel-caption h3{
    color: white;
    text-shadow: 2px 2px blue;
  }
