.main {
  width:1000px;
  padding-top: 37px;
  margin-left:20%;
  overflow:hidden;

}
/* The navigation bar */
.nav {
  font-family: 'Work Sans', sans-serif;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: white;
  box-shadow: 0 0.1px 10px 0 rgba(0, 0, 0, 0.050), 0 2px 10px 0 rgba(0, 0, 0, 0.02);
  font-size: 14px;
  padding-left: 50%;
}

a.nav-link {
  color: black;
}

a.nav-link:hover {
  color: red;
}

.imageaiman{
    width: 350px;
    display: block;
    height: 100%;
    float:left;
}

.aboutme {
  padding-top: 20px;
  font-size: 40px;
  margin-left: 60%;
  overflow:hidden;
}

table.table-borderless {
  font-size:14px;
  width: 350px;

}

.aboutme input{
  background-color: #1a53ff;
  color: white;
  border-radius: 13px;
  font-size:15px;
}
